body {
  font-family: 'Muli';
  overflow-x: hidden;
  position: relative;
}

#navigation {
    background: url(.././images/background.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;   
}

.nav.scrolled {
  background-color: rgb(14, 11, 11) !important;
  border-bottom: 5px solid #45a29e;
  transition: 0.5s;
  /*  #950714 */
}

.nav a:hover{
  color: #45a29e;
}

.navbar-toggler{
  border-color: black;
}
.navbar-default .navbar-toggle .icon-bar{
  color: aqua;
}
.navbar a{
  font-weight: bold;
  color: white;
}

#navigation .dark-overlay{
    background-color: rgb(0, 0, 0, 0.7);
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    height: calc(100vh+50px);
    width: 100%;   
}

#introduction{
    width:70%;
    float: left;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
}

.bold-text{
  font-weight: bold;
}

.skicon{
    width:75px;
    height:75px;
}

.nav-link active{
  color: aqua;
}

.circle{
  padding: 13px 20px;
  border-radius: 70%;
  background-color: rgb(0, 0, 0);
  border: 0.18em solid #45a29e;
  color: #ffffff;
  max-height: 50px;
  text-align: center;
  z-index: 2;
}

.how-it-works.row .col-2{
  align-self: stretch;
}

.how-it-works.row .col-2::after{
  content: "";
  position: absolute;
  border-left: 3px solid rgb(0, 0, 0);
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after{
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after{
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after{
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid rgb(0, 0, 0);
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid black;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 244, 249, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #45a29e;
} 

.intro{
  font-family: 'Abril Fatface', cursive;
  color: white;
  text-align: center;
  margin: 20% 0%;
}


#interestCard1 .img-fluid{
  width: auto;
  max-width: 300px;
  height: 8em;
}


#interestCard2 .img-fluid{
  width: auto;
  max-width: 300px;
  height: 8em;
}

#interestCard3 .img-fluid{
  width: auto;
  max-width: 300px;
  height: 8em;
}

#interestCard4 .img-fluid{
  width: auto;
  max-width: 300px;
  height: 8em;
}

.center{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;  
  padding-left: 10%;
  color:black;
}

.center-bold{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;  
  padding-left: 10%;
}

.heading { text-align: center; }

.heading span{  
  font-family: 'Abril Fatface', cursive;
  border-bottom: 0.1em solid #45a29e;  
  /* #950714*/
}

.loader-wrapper{
  position: fixed;
  z-index: 999999;
  background:#fff;
  width: 100%;
  height: 100%;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 45vh;
  left: 45vw;
}

.loader::before, .loader::after{
  content: '';
  border: 1em solid rgb(71, 68, 68);
  border-radius: 50%;
  width: inherit; 
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before{
  animation-delay: 0.5s;
}

@keyframes loader {
    0%{
      transform: scale(0);
      opacity: 0;
      }
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      opacity: 0;
    }
}

#contact{
  margin-bottom: 4rem;
}

#education,#contact{
  margin-top:24px !important;
}

.img-gallery{
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin:1rem;
}

.card{
  border: none;
}

.card-deck {
  width: 100%;
}

.introText{
  font-size: 3vw;  
}

#d1,#d3 {
  color: black;
}

.skills { 
  height: 7em;
  width: 6em;  
}

.skills p {
  color: #ffffff;
  text-align: center;
  margin-top: 40%;
}

#html {
  background-image: url(.././images/html.png);  
  background-position: center;
  background-size: 5em 6.5em;
 }

 #java {
  background-image: url(.././images/java.png);  
  background-position: center;
  background-size: 5em 6.5em;
 }
 
 #css {
  background-image: url(.././images/CSS3.jpg);  
  background-position: center;
  background-size: 5em 6.5em;
 }

 #js {
  background-image: url(.././images/js.jpg);  
  background-position: center;
  background-size: 5em 6.5em;
 }

 #python {
  background-image: url(.././images/python.png);  
  background-position: center;
  background-size: 5em 6.5em;
 }

 #servlet {
  background-image: url(.././images/jsp-servlet.png);  
  background-position: center;
  background-size: 5em 6.5em;
 }

 
 #git {
  background-image: url(.././images/git.png);  
  background-position: center;
  background-size: 5em 6.5em;
 }

 
 #mySQL {
  background-image: url(.././images/mysql.png);  
  background-position: center;
  background-size: 5em 6.5em;
 }

.overl {
  border-radius: 1.25em;  
  border: 0.2em solid #45a29e; 
  background-color: rgb(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative; 
  height: 100%;
  width: 100%;   
}

#stl {
  width: 100px;
  position: fixed;
  bottom: 0px;
  left: -1.5em;
  right: 95%;
  z-index: 10;
}

#stl ul {
  list-style-type: none;
}
#stl ul li { 
  padding: 25%;
} 


@media (max-width: 576px) {
  #stl {
  width: 50%;
  height: auto;
  position:relative;
  display: inline-block;
  z-index: 10;
  border: #45a29e;
  }
  #stl ul li {   
    display: inline-block;
    margin: 5%;
    padding: 0%;
  } 
}

@media (max-width: 768px) {
  #stl {
  width: 50%;
  height: auto;
  position:relative;
  display: inline-block;
  z-index: 10;
  border: #45a29e;
  }
  #stl ul li {   
    display: inline-block;
    margin: 5%;
    padding: 0%;
  } 
}

.color {
  color: #45a29e;
}